/* Header */
header {
    width: 100%;
    min-height: 275px;
    padding-top: 3em;
}
#home {
    background: no-repeat white url(images/cliff_ocean.jpg);
    background-size: 100% 400px;
}
.main-header {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 1em;
}
.main-header .logo img {
    width: 100px;
    height: 100px;
}

/* Navigation */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
.sticky-top{
    background-color: rgba(38, 41, 61, 0.7);
}

.main-header ul {
    padding-left: 0;
}
.main-header ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
.main-header ul li:first-child {
    border-left: none;
}
.main-header ul li a {
    text-decoration: none;
    color: #888;
}
.main-header ul li a:hover {
    color: #9ed034;
}
.main-header ul li.active {
    background: #9ed034;
    border: none;
}
.main-header ul li.active a {
    color: #fff;
}

/* Main */
main {
    padding: 3em 0;
    margin: 2em 0;
    font-family: Arial, Helvetica, sans-serif;
}
main h1 {
    font-size: 2.5em;
    padding-bottom: 0.5em;
    color: #9ed034;
}
main h2 {
    font-size: 1.7em;
}
.content-box {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
}

/* Partners */
section {
    width: 100%;
    background-color: #4288C3;
    padding: 2em 0;
}
section #partners {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em; /* Adjust spacing between images */
    padding: 2em 0;
    list-style: none;
}
section #partners .partner {
    background-color: #fff;
    border-radius: 50%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
section #partners .partner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Footer */
footer {
    width: 100%;
    padding: 1em 0;
    background-color: #ecfab8;
}
footer #nondisclaimer {
    margin-bottom: 1em;
}
footer #nondisclaimer .copy {
    padding: 1.5em 0;
    font-size: 0.9em;
}
footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 4px 4px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
    background: #3B5998;
    color: white;
}
footer #nondisclaimer .social .fa-twitter {
    background: #55ACEE;
    color: white;
}
footer #nondisclaimer .social .fa-instagram {
    background: #125688;
    color: white;
}
footer #disclaimer p {
    font-size: 0.85em;
}

/* Media Queries */
@media (max-width: 768px) {
    footer #nondisclaimer .copy {
        padding: 1.5em 0;
        text-align: center;
        font-size: 0.9em;
    }
    footer #nondisclaimer .social {
        text-align: center;
        padding: 1.5em 0;
    }
}
@media (max-width: 992px) {
    .main-header {
        width: 100%;
        text-align: center;
    }
    .main-header ul li {
        display: block;
        border-bottom: 1px solid rgba(202, 204, 202, 0.6);
        padding: 10px 0;
    }
    .main-header ul li a {
        padding: 10px 0;
        display: block;
    }
    .navbar-toggler {
        display: block;
    }
    .navbar-collapse {
        display: none !important;
    }
}
@media (min-width: 993px) {
    .navbar-toggler {
        display: none;
    }
    .navbar-collapse {
        display: flex !important;
    }
}

/* Activities Page */
table {
    width: 100%;
    margin: 4em auto;
}
caption {
    background: #852b1b;
    height: 40px;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 1em;
}
thead {
    background: #bde1ff;
}
tbody {
    background: #eeffe6;
    text-align: center;
}
th, td {
    vertical-align: middle;
    border: solid 1px #852b1b;
}
th:first-child {
    width: 125px;
    height: 50px;
    background: #4977d1;
    color: #fff;
}
td:first-child {
    font-weight: bold;
    background: #bde1ff;
}
#activities main #displaySelected {
    visibility: hidden;
    margin: 0 auto;
    width: 600px;
    border: 2px solid yellowgreen;
    padding: 0.75em;
}
#activities main #displaySelected #result, #activities main #displaySelected #sendinfo {
    display: inline-block;
    margin: 0;
}
#activities main #result {
    min-height: 50px;
    width: 300px;
    padding: 0;
}
#activities main #result h4 {
    margin-bottom: 1em;
    font-size: 1.15em;
}
#activities main #displaySelected #sendinfo input[type="email"] {
    width: 200px;
}
/* Highlight selected cells */
.selected {
    background-color: greenyellow;
}

/* Contact Page */
.contacttext1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 80px;
}
.contacttext2 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 80px;
}
.bold {
    font-weight: bold;
}
form {
    width: auto;
    margin: 16px 80px 80px auto;
    padding-left: 80px;
}
fieldset {
    border: 1px solid #9ed034;
    padding: 20px;
}
legend {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #4977D1;
}
.personalinfo label {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-bottom: 8px;
}
.chanel, .contactmethod, .cliffoption {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 8px;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select {
    width: 160px;
}
textarea {
    display: block;
    height: 80px;
    width: 60%;
}
input[type="radio"] {
    margin-right: 6px;
}
.radiogroup {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.randomcode {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.randomcode input[type="text"] {
    width: 12%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#codes {
    background-color: #e0e0e0;
    padding: 10px 10px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
button:hover {
    background-color: #2b5a8a;
}

/* Cliffs Page */
#cliffphotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.cliffphoto {
    width: 40%;
    list-style: none;
    margin: 1%;
    box-sizing: border-box;
    position: relative;
}
.cliffphoto img {
    width: 100%;
    height: auto;
    display: block;
}
.cliffphoto-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(149, 0, 0, 0.8);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
}

/* Timeclock
#timeofday {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(0deg, rgba(251, 215, 139, 1) 0%, rgba(118, 213, 245, 1) 100%);
    color: #125688;
}
#timeofday span:first-child {
    color: #3a3a3a;
}
#clock {
    margin-left: 10px;
}*/
