/* Header */
header {
    width: 100%;
    min-height: 400px;
    padding-top: 3em;
}
#home header {
    background: no-repeat lightgrey url(images/cliff_ocean.jpg);
    background-size: cover;
}
.main-header {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 1em;
}
.main-header .logo img {
    width: 100px;
    height: 100px;
}

/* Navigation */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.main-menu ul {
    padding-left: 0;
}
.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    text-transform: uppercase;
    font-size: 14px;
}
.main-menu ul li:first-child {
    border-left: none;
}
.main-menu ul li a {
    text-decoration: none;
    color: #888;
}
.main-menu ul li a:hover {
    color: #9ed034;
}
.main-menu ul li.active {
    background: #9ed034;
    border: none;
}
.main-menu ul li.active a {
    color: #fff;
}

/* Main */
main {
    padding: 3em 0;
    margin: 2em 0;
    font-family: Arial, Helvetica, sans-serif;
}
main h1 {
    font-size: 2.5em;
    padding-bottom: 0.5em;
    color: #9ed034;
}
main h2 {
    font-size: 1.7em;
}
.content-box {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
}

/* Partners */
section {
    width: 100%;
    background-color: #4288C3;
    padding: 2em 0;
}
#partners .partner {
    margin-bottom: 1em;
    text-align: center;
}
.partner-img-wrapper {
    background-color: #fff;
    border-radius: 50%;
    padding: 1.3em;
    display: inline-block;
}
.partner-img-wrapper img {
    width: 90px;
    height: 90px;
}

/* Footer */
footer {
    width: 100%;
    padding: 1em 0;
    background-color: #ecfab8;
}
footer #nondisclaimer {
    margin-bottom: 1em;
}
footer #nondisclaimer .copy {
    padding: 1.5em 0;
    font-size: 0.9em;
}
footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
    background: #3B5998;
    color: white;
}
footer #nondisclaimer .social .fa-twitter {
    background: #55ACEE;
    color: white;
}
footer #nondisclaimer .social .fa-instagram {
    background: #125688;
    color: white;
}
footer #disclaimer p {
    font-size: 0.85em;
}

/* Media Queries */
@media (max-width: 768px) {
    footer #nondisclaimer .copy {
        padding: 1.5em 0;
        text-align: center;
        font-size: 0.9em;
    }
    footer #nondisclaimer .social {
        text-align: center;
        padding: 1.5em 0;
    }
}
@media (max-width: 992px) {
    .main-menu {
        width: 100%;
        text-align: center;
    }
    .main-menu ul li {
        display: block;
        border-bottom: 1px solid rgba(202, 204, 202, 0.6);
        padding: 10px 0;
    }
    .main-menu ul li a {
        padding: 10px 0;
        display: block;
    }
    .navbar-toggler {
        display: block;
    }
    .navbar-collapse {
        display: none !important;
    }
}
@media (min-width: 993px) {
    .navbar-toggler {
        display: none;
    }
    .navbar-collapse {
        display: flex !important;
    }
}
